<app-side-menu></app-side-menu>

<mat-tab-group mat-stretch-tabs="false" class="flex-grow px-[50px] py-[20px]">
  <mat-tab label="Параметры">
    <app-bot-settings (statistics)="statistics = $event"></app-bot-settings>
  </mat-tab>
  <mat-tab label="Статистика">
    <app-bot-statistics [statistics]="statistics"></app-bot-statistics>
    <!-- график обучение/прогноз/история от времени
    <br />
    график транзакций от времени
    <br />
    график выделенного капитал от времени -->
  </mat-tab>
</mat-tab-group>

<!-- <p>bots-page works!</p> -->
