<ng-container [formGroup]="form">
  <app-content-block
    [width]="'80%'"
    [columns]="2"
    [title]="'Параметры обучения'"
  >
    <mat-form-field class="w-[268px]">
      <mat-label>Выберите актив</mat-label>
      <mat-select formControlName="treningAsset">
        @for (item of assets; track item) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-[268px]">
      <mat-label>Выберите потерю</mat-label>
      <mat-select formControlName="loss">
        @for (item of losses; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-[268px]">
      <mat-label>Выберите оптимизатор </mat-label>
      <mat-select formControlName="optimizer">
        @for (item of optimizers; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-[268px]">
      <mat-label>Длина последовательности</mat-label>
      <input matInput placeholder="Число" formControlName="sequenceLength" />
    </mat-form-field>

    <mat-form-field class="w-[268px]">
      <mat-label>Количество эпох</mat-label>
      <input matInput placeholder="Число" formControlName="numberEpochs" />
    </mat-form-field>

    <mat-form-field class="w-[268px]">
      <mat-label>Размер партии</mat-label>
      <input matInput placeholder="Число" formControlName="batchSize" />
    </mat-form-field>

    <app-input-period
      [required]="true"
      formControlName="treningDate"
    ></app-input-period>

    <mat-checkbox formControlName="normalise" class="my-auto"
      >Нормализовать</mat-checkbox
    >
  </app-content-block>

  <app-content-block
    [width]="'80%'"
    [columns]="2"
    [title]="'Параметры тестирования'"
  >
    <mat-form-field class="w-[268px]">
      <mat-label>Выберите вариант</mat-label>
      <mat-select formControlName="testingAsset">
        @for (item of assets; track item) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <app-input-period
      [required]="true"
      formControlName="testingDate"
    ></app-input-period>
  </app-content-block>
</ng-container>
<!--  -->
<app-content-block [width]="'80%'" [title]="'Архитектура'">
  <mat-stepper headerPosition="top" #stepper class="w-full">
    @for (item of layers; track item) {
    <mat-step>
      <ng-template matStepLabel>{{ item.type.value }}</ng-template>
      <div class="grid grid-cols-3 gap-5">
        <mat-form-field class="w-[268px]">
          <mat-label>Выберите тип</mat-label>
          <mat-select [formControl]="item.type">
            @for (item of types; track item) {
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (['lstm', 'dense'].includes(item.type.value||'') ) {<mat-form-field
          class="w-[268px]"
        >
          <mat-label>Количество нейронов</mat-label>
          <input
            matInput
            placeholder="Число"
            [formControl]="item.neurons!!"
          /> </mat-form-field
        >} @if (item.type.value=='lstm' ) {<mat-form-field class="w-[268px]">
          <mat-label>Временные шаги</mat-label>
          <input
            matInput
            placeholder="Число"
            [(ngModel)]="item.input_timesteps"
          /> </mat-form-field
        >} @if (item.type.value=='lstm' ) {<mat-form-field class="w-[268px]">
          <mat-label>Входной тусклый</mat-label>
          <input
            matInput
            placeholder="Число"
            [(ngModel)]="item.input_dim"
          /> </mat-form-field
        >}@if (item.type.value=='lstm' ) {
        <mat-checkbox class="my-auto" [(ngModel)]="item.return_seq"
          >Возврат последовательности</mat-checkbox
        >} @if (item.type.value=='dropout' ) {<mat-form-field class="w-[268px]">
          <mat-label>Ставка</mat-label>
          <input
            matInput
            placeholder="Число"
            [formControl]="item.rate!!"
          /> </mat-form-field
        >} @if (item.type.value=='dense' ) {
        <mat-form-field class="w-[268px]">
          <mat-label
            >Выберите функцию <br />
            активации</mat-label
          >
          <mat-select [formControl]="item.activation!!">
            @for (item of activations; track item) {
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select> </mat-form-field
        >}
      </div>
    </mat-step>

    }
  </mat-stepper>
</app-content-block>
