<!-- <p>side-menu works!</p>

<img
  class="w-[24px]"
  [src]="'favicon.ico' | rmMapper : iconPathMapper"
  alt="favicon"
/> -->
<button routerLink="/TextNgRxComponent" routerLinkActive="link_active">
  TextNgRxComponent
</button>
<button routerLink="/TextPlotlyComponent" routerLinkActive="link_active">
  TextPlotlyComponent
</button>
<button routerLink="/TextTailwindComponent" routerLinkActive="link_active">
  TextTailwindComponent
</button>
<button
  routerLink="/TextAngularMaterialComponent"
  routerLinkActive="link_active"
>
  TextAngularMaterialComponent
</button>
